* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #181818;
    background-color: rgb(0, 0, 0);
}


/* navbar */


#nav-menu {
    height: 20px;
}

#nav-menu ul img {
    width: 70px;
    box-shadow: 1px 1px 12px var(--color1);
    margin: 2px 0;
    border-radius: 50%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #430d1c;
    padding: 0px 20px;


}






.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}
@media only screen and (max-width: 900px) {
  #nav-menu{
    width: auto;
  }
}

#home {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: max-content;
    overflow: hidden;
    margin: 10%;
    /* background-image : url(https://media.istockphoto.com/id/1279690524/photo/digital-concept-networking-and-big-data.jpg?b=1&s=170667a&w=0&k=20&c=aQgwTymZOXvUVGMUtD2NLYnw9ERE4HlqcGpnpyL9VeM=); */
    /* opacity: 0.6; */
    background-color: rgb(0, 0, 0);
}




#home>img {
    width: 350px;
    /* margin: 1% 4%; */
    border-radius: 50%;
    transition: transform .6s;
    text-align: center;
    
}

#home>img:hover {
    transform: scale(1.05);
    box-shadow: rgba(181, 179, 179, 0.56) 0px 22px 70px 4px;
}

#user-detail-name {
    justify-content: center;
    font-size: 50px;
    padding-left: 5%;
    margin-top: 8%;
}

/* .heading{
    margin-top: 5%;
    color: #430a47;
} */

hr {
    width:100%;
    margin-bottom: 1%;
}

#demo {
    color: rgb(218, 225, 11);
    font-size: 50px;
    margin: 5% 0%;
}

@media only screen and (max-width: 900px) {
    #user-detail-name{
      font-size: 30px;
      margin-top: 30%;
    }
    #home h1{
      font-size: 30px;
    }
    #width {
      margin: 6%;
    }
   .name {
      display: none;
    }

    #home{
        flex-direction: column;
        /* padding-left: 60px; */
        margin: auto;
        text-align: center;
        justify-content: center;
        margin-top: -13%;
         }
         #home>img{
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 50%;
         }
}

@media only screen and (max-width: 1065px) and (min-width: 900px) {
    #home img{
      width: 320px;
      margin: 0% 4%;
    }
}    /* #width{
      /* margin: 5%; */
      /* margin: 50%; */
    /* } */ */
  /* } */

  #home #particles-js {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
  }
  html.dark {
    background-color: #111;
    color: var(--primary-color);
  }
  .toggle {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    padding: 6px 20px;
  }
  .toggle:focus {
    outline: none;
  }
  
  /* about section styling */
 
  #resume-button-2{
    background-color: white;
    font-weight: bolder;
    font-size: larger;
   text-decoration: none;
    border-radius: 6px;
    padding: 2% 2%;
    color: #010234;
  }
  
  #resume-button-2:hover,#resume-button-1:hover {
    background-color: #75d9f1;
    border-radius: 7px;
    color: rgb(15, 15, 71);
    cursor: pointer;
  }
  
  #con > a >* {
    width: 36px;
    margin: 26px 8px 0px 8px;
  }
  
  #con {
    display: flex;
    justify-content: space-between;
  }
  
  #about {
   
    width: 85%;
    font-size: larger;
    display: block;
    margin: 10% auto;
   text-align: center;
   margin-bottom: 16%;
  }
  
  #aboutflex{
   display: flex;
   justify-content: space-around;
   margin-top: 5%;
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9% 8%;
    width: 60%; 
    justify-content: center;
    margin: auto;
  }
  
  #grid>div{
    vertical-align: middle;
  text-align: center;
  transition:transform .2s;
  
  }
  
  #grid>div:hover{
    transform: scale(1.2);
  }
  
  #grid p{
  font-size: larger; 
  }
  
  #grid img {
    width: 80%;
  }
  
  .mid {
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: rgb(252, 255, 251);;
    padding: 10px;
  }
    
  
/* ---------------------------------------------------skills section starts----------------------------------------------------------------------- */


/* .skills {
    /* min-height: 90vh; */
    /* background: linear-gradient(to bottom, #b71540, #4a00e0); */
  /* }  */
  .skills h2 {
    color: #4dce26;
    text-align: center;
    font-size: 60px;
  }
  .skills .heading span {
    color: rgb(255, 230, 0);
  }
  .skills .container {
    /* background: rgba(0, 0, 22, 0.4); */
    /* background: #FFF; */
    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
  .skills .container #row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
  }
  .skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 22, 0.9);
    transition: 0.2s;
  }
  .skills .container .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .skills .container .bar .info i {
    font-size: 4rem;
  }
  .skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 0.5rem;
  }
  
  
  /* skills media queries starts*/
  
  

  /* skills media queries ends*/
  /* skills section ends */


  
/* Team section styling */

#projects{
  color: #f0eded;
  /* background: #ffffff; */
  margin-top: 3%;
}

.teams h5{
  font-weight: 700;
  color: #07080B;

  transform: translateY(-65px);
}

.teams h1{
  color: #f0f00a;
  text-align: center;
  font-size: 60px;
  transform: translateY(23px);
  /* opacity: 0.1; */
  /* padding-top: -20px; */
  margin-bottom: 4%;
}

.teams .carousel .project-card{
  background: #111111;
  border-radius: 5px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.teams .carousel .project-card:hover{
  background: #355e60;
}
.teams .carousel .project-card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.teams .carousel .project-card:hover .box{
  transform: scale(1.05);
}
.teams .carousel .project-card #text{
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.teams .carousel .project-card img{
  height: 150px;
  width: 250px;
  object-fit: cover;
  /* border-radius: 10%; */
  border: 5px solid #FEC544;
  transition: all 0.3s ease;
}
.teams .carousel .project-card:hover img{
  border-color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background: #07080B !important;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #07080B;
  transition: all 0.3s ease;
}


 /* education section starts  */
.education {
  /* background: #ffffff; */
  min-height: 80vh;
  margin-bottom: 5%;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}
.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
/* education media queries ends*/
/* education section ends */

#stats>div{
  display: flex;
  margin-left: 5%;
  margin-bottom: 15%;
}
#stats img{
  width: 50%;
  transition:transform .3s;
}
#statsimg>img{
width:60%;
margin-left: 5%;
}
#stats img:hover{
  transform: scale(1.1);
}
.statstext{
  font-size: 60px;
  color: #f0f00a;
  text-align: center;
  margin-top: 4%;
}
#github-stats-card{
  margin-top: 5%;
  border: solid black;
}

#github-streak-stats{
  margin-top: 5%;
  border: solid black;
}

.calendar{
  padding: 1%;
}

#resume-button-2{
  background-color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: larger;
 text-decoration: none;
  border-radius: 6px;
  padding: 2% 2%;
  color: #ffffff;
  margin-left: 9%;
  margin-top: -9%;

}

#resume-button-2:hover,#resume-button-1:hover {
  background-color: #d7e11d;
  border-radius: 7px;
  color: rgb(15, 15, 71);
  cursor: pointer;
}

#con > a >* {
  width: 36px;
  margin: 26px 8px 0px 8px;
}

#con {
  display: flex;
  margin-left: 9%;
 margin-top: 2%;
  /* justify-content: space-between; */
}

#aboutflex{
  /* display: flex; */
  /* justify-content: space-around; */
  margin-top: 5%;
 }

 .textforcalender{
  font-size: 60px;
  text-align: center;
  color: #f0f00a;
 }


 /* hr {
  height: 4px;
  background-color: red;
  border: none;
  margin-top: 2%;
} */