* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #c91b8c;
  /* background-color: #111; */
}

/* navbar */

/* ==============================================  NAVBAR ================================================================================ */

#nav-menu {
  height: 20px;
  position: sticky;
}

#nav-menu ul img {
  width: 70px;
  box-shadow: 1px 1px 12px var(--color1);
  margin: 2px 0;
  border-radius: 50%;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 0px 20px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}

/* ============================================== HOME ================================================================================= */

#home {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: max-content;
  overflow: hidden;
  margin: 15%;
}

#home > img {
  width: 350px;
  margin: 1% 4%;
  border-radius: 50%;
  transition: transform 0.6s;
  box-shadow: 2px 2px 10px rgb(116, 243, 243), -2px -2px 10px rgb(248, 94, 120);
}

#home > img:hover {
  transform: scale(1.05);
  box-shadow: rgba(181, 179, 179, 0.56) 0px 22px 70px 4px;
}

#user-detail-name {
  justify-content: center;
  font-size: 50px;
  padding-left: 5%;
  color: white;
}
#user-detail-intro {
  color: wheat;
}

.heading {
  margin-top: 5%;
  color: #430a47;
}

hr {
  width: 100%;
  margin-bottom: 1%;
}

#demo {
  color: rgb(115, 230, 130);
  font-size: 50px;
  margin: 5% 0%;
}

@media only screen and (max-width: 900px) {
  #user-detail-name {
    font-size: 30px;
  }

  #home h1 {
    font-size: 30px;
  }

  #width {
    margin: 4%;
  }

  .name {
    display: none;
  }

  #home {
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: -13%;
  }

  #home > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media only screen and (max-width: 1065px) and (min-width: 900px) {
  #home img {
    width: 320px;
    margin: 0% 4%;
  }
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

.toggle {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 20px;
}

.toggle:focus {
  outline: none;
}

/* ================================================ ABOUT ================================================================= */

/* #about {
    background: white ;
  } */
#about .row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding: 4rem;
}
#about .row .image {
  text-align: center;
  flex: 1 1 35rem;

  float: left;
  clear: both;
}

#about .row .image img {
  margin: 4rem;
  width: 20rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
#about .row .image img:hover {
  mix-blend-mode: normal;
}
#about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

#about .row .content #user-detail-name {
  color: rgb(232, 15, 136);
  font-size: 2.5rem;
}
#about .row .content .tag {
  font-size: 1.4rem;
  color: hotpink;
  font-weight: 600;
  margin-top: 1rem;
}
#about .row .content #user-detail-intro {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  color: white;
  font-size: 20px;
}
#about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
  font-family: "Nunito";
  font-weight: 600;
}
#about .row .content .box-container .box p {
  text-transform: none;
  color: white;
  font-size: 16px;
}
#about .row .content .box-container .box p span {
  color: #2f41e8;
  font-size: 20px;
}
.resumebtn {
  margin-top: 6rem;
}

.resumebtn {
  margin-top: 2rem;
}
.resumebtn .btn {
  padding: 1.3rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #826af0;
  box-shadow: 0px 5px 10px rgba(118, 130, 229, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}

/* about media queries ends*/
/* about section ends */

/* about section styling */

.about .title::after {
  content: "who i am";
}
.about .about-content img {
  width: 20%;
  margin-top: 4%;
  /* border-radius: 50%; */
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
  /* flex: 1 1 35rem; */
}
.about .about-content img:hover {
  mix-blend-mode: normal;
}

.about .about-content .right {
  width: 55%;
  /* border: solid blue; */
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.about .about-content {
  display: flex;
  justify-content: space-around;
}
.about .about-content .right .text span {
  color: crimson;
}
.about .about-content .right p {
  text-align: center;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

@media screen and (max-width: 600px) {
  .about .about-content .image {
    margin-top: 2rem;
  }
  .about .about-content img {
    width: 100%;
    mix-blend-mode: normal;
  }

  .about .about-content {
    display: inline;
  }
}

/* ===================== Skills ======================
   */

.skills {
  background: linear-gradient(to bottom, #b71540);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}

.heading {
  text-align: center;
}

.skills .container {
  /* background: #af0171; */
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  /* background:white; */
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
  cursor: pointer;
}

.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgb(224, 85, 108);
  transition: 0.2s;
}

.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgb(254, 114, 184) !important;
  background-color: rgb(139, 139, 248) !important;
}
.skills .container .bar .info {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}

/* skills media queries starts*/

@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */
